@import 'Config.css';

.adjusments{
    padding: 30px 0;
    border-top: 1px solid var(--mian-black);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.adjusments input{
    width: 100%;
}