@import 'Config.css';

.adjusments{
    padding: 30px 0;
    border-top: 1px solid var(--mian-black);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.adjusments input{
    width: 100%;
}
@media screen and (max-width:992px) {
    .adjusments{
        display: grid;
        grid-template-columns: repeat(2,auto);
        margin-top: 20px;
        gap: 10px;
        column-gap: 40px;
        justify-content: center;
        align-items: center;
    }
}