@import 'Config.css';

.optionsContainer{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.uploadContainer{
    text-align: center;
}
.uploadContainer input{
    visibility: hidden;
    display: none;
}
.uploader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pictureCanvas{
}
@media screen and (max-width: 992px) {
    .optionsContainer{
        flex-direction: row;
        justify-content: space-around;
    }
    .optionsContainer svg{
        display: inline-block;
        margin: 0 5px;
    }
}