@import 'Config.css';
.settingsContainer{
    padding: 40px 30px 0 30px;
    height: 675px;
    overflow-y: auto;
}
.topSettings{
    padding: 30px 0;
    border-top: 1px solid var(--mian-black);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.topSettings input{
    width: 100%;
    margin: 10px 0;
}
.topSettings .radius{
    display: flex;
    flex-direction: column;
    align-items: center;
}